$body_color:#6d859e;
$bg_six:#6d859e;

 

$heading_color:#1c1b2e;
$heading_bg:#1c1b2e;
$primary_bg:#f6f9fc;
$secondary_bg:#fca25d;
$third_bg:#0f6eff;
$third_color:#0f6eff;
$fourth_bg:#4f95ff;
$white_bg:#ffffff;
$white_color:#ffffff;
$secondary_color:#eae4ff;
$shadow1: 0 2px 16px #dddddd;
$thurd_color:#151d41;
$border_color1:#e6e6e6;
$border_color2:#f1f1f1;
$border_color3:#efefef;
$six_color:#ffb902;


$box_shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
$box_shadow3:0px 5px 50px rgba(97,105,140,0.07);
$box_shadow2:0px 20px 50px rgba(15,110,255,0.2);
