@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$roboto:'Roboto', sans-serif;




$fontw100:100;
$fontw200:200;
$fontw300:300;
$fontw400:400;
$fontw500:500;
$fontw600:600;
$fontw700:700;
$fontw800:800;
$fontw900:900;



$uppercase:uppercase;
$lowercase:lowercase;
$capitalize:capitalize;


$body_fsize:20px;
$title1_size:58px;
$title2_size:90px;
$title6_size:24px;
$heading1_size:50px;



$font10:10px;
$font12:12px;
$font14:14px;
$font15:15px;
$font16:16px;
$font18:18px;
$font22:22px;
$font24:24px;
$font26:26px;
$font28:28px;
$font30:30px;
$font32:32px;
$font34:34px;
$font36:36px;
$font38:38px;
$font40:40px;
$font42:42px;
$font44:44px;
$font46:46px;
$font48:48px;
$font50:50px;
$font52:52px;
$font54:54px;
$font56:56px;
$font58:58px;
$font60:60px;
$font62:62px;
$font64:64px;
$font66:66px;
$font68:68px;
$font70:70px;
$font72:72px;
$font74:74px;
$font76:76px;
$font78:78px;
$font80:80px;
$font82:82px;
$font84:84px;
$font86:86px;
$font88:88px;
$font90:90px;




$title1_line_height:70px;
$title2_line_height:90px;
$title6_line_height:40px;
$heading1_line_height:60px;