$section_padding:100px 0;
$section_padding2:100px 0 70px;

$heading_bottom_spacing:50px;
$heading6_margin_top:20px;
$box_margin_bottom:30px;

$core_feature_box_padding: 50px 45px;
$headiing6_margin_bottom:15px;
$icon_margin_bottom:25px;
$padding_bottom:100px;
$padding_bottom2:70px;

$inner_hero_padding: 100px 0 150px;